<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация нового пациента</title>
</head>
<body>

<form th:method="POST" th:action="@{/patient}" th:object="${patient}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Ошибка валидации</div>
    <br/>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Ошибка валидации</div>
    <br/>
    <label for="diagnosis">Введите диагноз: </label>
    <input type="text" th:field="*{diagnosis}" id="diagnosis"/>
    <div style="color:red" th:if="${#fields.hasErrors('diagnosis')}" th:errors="*{diagnosis}">Ошибка валидации</div>
    <br/>
    <label for="status">Выберите статус: </label>
    <select th:field="*{status_id}" id="status">
        <option th:each="status : ${statusList}" th:value="${status.getId()}" th:text="${status.getStatusName()}">
        </option>
    </select>
    <br/>
    <input type="submit" value="Добавить пациента"/>
</form>

</body>
</html>