<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patient</title>
</head>
<body>

<p th:text="${patient.getName() + ', ' + patient.getAge() + '. ' + 'Диагноз: ' + patient.getDiagnosis()}">VALUE</p>

<form th:method="GET" th:action="@{/patient/{id}/edit(id=${patient.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<div>
    <hr/>
    <b>Статус:</b>
    <p th:text="${status.getStatusName()}">VALUE</p>
</div>

<div>
    <form th:method="PATCH" th:action="@{/patient/{id}/assign(id=${patient.getId()})}">
        <label for="status">Выберите статус</label>
        <select th:object="${status}" th:field="*{id}" id="status">
            <option th:each="status : ${statusList}" th:value="${status.getId()}" th:text="${status.getStatusName()}">
            </option>
        </select>
        <input type="submit" value="Изменить статус"/>
    </form>
</div>

<form th:method="DELETE" th:action="@{/patient/{id}(id=${patient.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>